@model Models.View.BasketCheckoutViewModel
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<h2 class="text-danger">@ViewBag.ErrorMessage</h2>

<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
    <h4>You're just one step away from placing your order.</h4>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label asp-for="LastName" class=" control-label"></label>
                <div class="col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-user"></i>
                        </div>
                        <div>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label asp-for="FirstName" class=" control-label"></label>
                <div class="col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-user"></i>
                        </div>
                        <div>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label asp-for="Address" class=" control-label"></label>
                <div class="col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-home"></i>
                        </div>
                        <div>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label asp-for="ZipCode" class=" control-label"></label>
                <div class="col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-institution"></i>
                        </div>
                        <div>
                            <input asp-for="ZipCode" class="form-control" />
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-3">
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <div class="col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <label asp-for="Country" class=" control-label"></label>
                <div class="col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-map"></i>
                        </div>
                        <div>
                            <input asp-for="Country" class="form-control" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <label asp-for="Email" class=" control-label"></label>
                <div class="col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <label asp-for="CardName" class="control-label"></label>
                <div class="col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-id-card"></i>
                        </div>
                        <div>
                            <input asp-for="CardName" class="form-control" />
                            <span asp-validation-for="CardName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-sm-3">
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <div class="col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-credit-card"></i>
                        </div>
                        <div>
                            <input asp-for="CardNumber" class="form-control" />
                            <span asp-validation-for="CardNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label asp-for="CardExpiration" class="control-label"></label>
                <div class="col-12 ">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-calendar-check-o"></i>
                        </div>
                        <input asp-for="CardExpiration" class="form-control" />
                        <span asp-validation-for="CardExpiration" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label asp-for="CvvCode" class="control-label"></label>
                <div class="col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-qrcode"></i>
                        </div>
                        <input asp-for="CvvCode" class="form-control" />
                        <span asp-validation-for="CvvCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="form-group">
        <div class="col-10">
            <input type="submit" class="btn btn-primary" value="Place order" />
        </div>
    </div>



</form>