USE [master]
GO
/****** Object:  Database [DiscountsDb]    Script Date: 1/14/2021 3:39:46 PM ******/
CREATE DATABASE [DiscountsDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DiscountsDb', FILENAME = N'C:\Users\user\DiscountsDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DiscountsDb_log', FILENAME = N'C:\Users\user\DiscountsDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DiscountsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DiscountsDb]
GO
USE [DiscountsDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/14/2021 3:39:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 1/14/2021 3:39:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[CouponId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[CouponId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210108233640_Init', N'3.1.5')
GO
INSERT [dbo].[Coupons] ([CouponId], [UserId], [Amount]) VALUES (N'8f2a3adf-f517-403f-b192-1014ddcbb0af', N'be936f3d-ddd8-4a5c-92c2-e91b9a25a702', CAST(12.00 AS Decimal(18, 2)))
INSERT [dbo].[Coupons] ([CouponId], [UserId], [Amount]) VALUES (N'e0eae93f-8742-4714-8d82-648e3a163692', N'849c17ab-45df-4ffd-835b-1d4ed8a8f486', CAST(10.00 AS Decimal(18, 2)))
GO
USE [master]
GO
