USE [master]
GO
/****** Object:  Database [ShoppingBasketDb]    Script Date: 1/14/2021 3:38:25 PM ******/
CREATE DATABASE [ShoppingBasketDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShoppingBasketDb', FILENAME = N'C:\Users\user\ShoppingBasketDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShoppingBasketDb_log', FILENAME = N'C:\Users\user\ShoppingBasketDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShoppingBasketDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShoppingBasketDb]
GO
USE [ShoppingBasketDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/14/2021 3:38:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasketChanges]    Script Date: 1/14/2021 3:38:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasketChanges](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[WineId] [uniqueidentifier] NOT NULL,
	[InsertedAt] [datetimeoffset](7) NOT NULL,
	[BasketChangeType] [int] NOT NULL,
 CONSTRAINT [PK_BasketChanges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasketLines]    Script Date: 1/14/2021 3:38:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasketLines](
	[BasketLineId] [uniqueidentifier] NOT NULL,
	[BasketId] [uniqueidentifier] NOT NULL,
	[WineId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_BasketLines] PRIMARY KEY CLUSTERED 
(
	[BasketLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Baskets]    Script Date: 1/14/2021 3:38:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baskets](
	[BasketId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Baskets] PRIMARY KEY CLUSTERED 
(
	[BasketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wines]    Script Date: 1/14/2021 3:38:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wines](
	[WineId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Wines] PRIMARY KEY CLUSTERED 
(
	[WineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_BasketLines_BasketId]    Script Date: 1/14/2021 3:38:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_BasketLines_BasketId] ON [dbo].[BasketLines]
(
	[BasketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BasketLines_WineId]    Script Date: 1/14/2021 3:38:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_BasketLines_WineId] ON [dbo].[BasketLines]
(
	[WineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BasketLines]  WITH CHECK ADD  CONSTRAINT [FK_BasketLines_Baskets_BasketId] FOREIGN KEY([BasketId])
REFERENCES [dbo].[Baskets] ([BasketId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BasketLines] CHECK CONSTRAINT [FK_BasketLines_Baskets_BasketId]
GO
ALTER TABLE [dbo].[BasketLines]  WITH CHECK ADD  CONSTRAINT [FK_BasketLines_Wines_WineId] FOREIGN KEY([WineId])
REFERENCES [dbo].[Wines] ([WineId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BasketLines] CHECK CONSTRAINT [FK_BasketLines_Wines_WineId]
GO
USE [master]
GO
