USE [master]
GO
/****** Object:  Database [WineCatalogDb]    Script Date: 1/14/2021 3:36:54 PM ******/
CREATE DATABASE [WineCatalogDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WineCatalogDb', FILENAME = N'C:\Users\user\WineCatalogDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WineCatalogDb_log', FILENAME = N'C:\Users\user\WineCatalogDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WineCatalogDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WineCatalogDb]
GO
USE [WineCatalogDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/14/2021 3:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/14/2021 3:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wines]    Script Date: 1/14/2021 3:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wines](
	[WineId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ImageFile] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Producer] [nvarchar](max) NULL,
	[CountryOfOrigin] [nvarchar](max) NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Wines] PRIMARY KEY CLUSTERED 
(
	[WineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210108145320_Init', N'3.1.5')
GO
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (N'fe98f549-e790-4e9f-aa16-18c2292a2ee9', N'Sparkling wines')
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (N'6313179f-7837-473a-a4d5-a5571b43e6a6', N'White wines')
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (N'b0788d2f-8003-43c1-92a4-edc76a7c5dde', N'Red wines')
GO
/****** Object:  Index [IX_Wines_CategoryId]    Script Date: 1/14/2021 3:36:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Wines_CategoryId] ON [dbo].[Wines]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Wines]  WITH CHECK ADD  CONSTRAINT [FK_Wines_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wines] CHECK CONSTRAINT [FK_Wines_Categories_CategoryId]
GO
USE [master]
GO
